<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
add user
<br>

<form th:method="POST" th:action="@{/users}" th:object="${user}">
    <label>Name:
        <input type="text" th:field="*{name}" th:id="name"/>
    </label>
    <br>
    <label>Lastname:
        <input type="text" th:field="*{lastname}" th:id="lastname"/>
    </label>
    <br>
    <label>Age:
        <input type="text" th:field="*{age}" th:id="age"/>
    </label>
    <br><br>
    <input type="submit" value="Create"/>
</form>

<br>

<a href="/">home</a>
</body>
</html>